* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: 0;
}

html{
  font-size: 60%;
}

body{
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1.6rem;
}

a{
  text-decoration: none;
  color: black;
}

ul li{
  list-style: none;
}

/*SCROLL STYLE*/
*::-webkit-scrollbar {
  width: 1rem;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/*SCROLL STYLE*/

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.modal-overlay{
  display: flex;
  position: fixed;
  z-index: 1;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content{
  position: relative;
  background-color: #eee;
  margin: auto;
  border: 1px solid #ddd;
  border-radius: 5px;
  width: 40%;
  max-height: 420px;
  height: 100%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.modal-content form{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}


